*{
    margin: 0;
    padding: 0;
  
  
}
body{
    font-family: 'Raleway', sans-serif;
    color: #000;
    background-color: #f1f1f1;
    line-height: 1.5;
    font-size: 13px;
}
h1{
    font-weight: 600;
    margin-bottom: 15px;
  
}
.head{
    text-align: center;
    padding: 40px 0px 40px 0px;

}
.head p{
    font-size: 14px;
}
.sp{
    background-color: black;
    color: white;
    display: inline-block;
    padding:0 8px;
    text-align: center;
   
}
.contaier{
    display: flex;
      
}

@media (max-width:800px){
    .contaier{
        flex-direction: column;
        gap: 0px;

    }

    .box1,.box2{
       flex: 100%;
    } 
    .none{
        display: none;
    }
    .spans span{

        background-color:black;
        
    }
}  
@media (max-width:600px){
    .coments{
           display: none;
    }
}

.box1{
    flex: 63%;
   
}
.box2{
    flex: 30%; 
}

.onebx{
    margin-bottom: 10px;
    background-color: white;
}
hr{
    margin:20px 0px 20px 0px ;
    border: 0;
    border: 1px solid #eee;
}
.shadow{
    /* box-shadow: 2px 2px 2px 2px grey; */
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin: 16px;
}
.bx{
    padding: 0 15px 1px 15px;
}
.title{
    font-weight: 600;
    font-size: 24px;
    margin-top: 5px;
}
.title-dec{
    margin: 10px 0px 25px 0px;
    font-size: 18px;
}
.text{
    font-size: 13px;
    margin-bottom: 15px;
}

.btcm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}
.read{
    margin: 15px 0;
    padding: 12px 24px;
    border: 1px solid #ccc;
    background-color: #fff;
   
}
.coments{
    margin: 15px 0;
    padding: 12px 24px;
}
#zero{
    background-color: #000;
    color: white;
    display: inline-block;
    padding: 0 8px;
    margin-left: 5px;
}
/* End of box one of container */


.posts{

    background-color: white;

}
.Papolur{
    
    background-color:#f1f1f1;
    padding:8px 16px;
    font-size: 20px;
}
h4{
    margin: 7px 0;
    color: rgba(0, 0, 0,0.85);
    font-weight: 400;
}
.pics{
    padding:16px;
    border-bottom: 1px solid #ddd;
}
.pics:hover{
    background-color: rgba(128, 128, 128, 0.3);
}
.pic img{
    width: 50px;
    float: left;
    margin-right: 10px;
}
.spans{
    background-color: #fff;
    padding: 15px;
}
.spans span{
    font-size: 10px;
    background-color: #f1f1f1;
    margin: 0px 0px 8px 0;
    padding: 0 8px;
    display: inline-block;
}
.footer{
    height: 100px;
    background-color:#616161;
    margin-top: 16px;
    padding: 32px 16px;
    
}
.pre{
    background-color: rgba(0, 0, 0,0.4);
    color: rgba(255, 255, 255,0.5);
 
    border: none;
    padding: 12px 24px;
    margin-bottom: 16px;

}
.next{
    color: white;
    background-color: black;
    padding: 12px 24px; 
    border: none;
}
.footer p{
    margin: 15px 0px;
    color: white;
    font-size: 13px;
}
.footer p a{
    color: white;
}